.button {
  display: block;

  width: 100%;
  min-height: 52px;
  padding-top: 14px;
  padding-bottom: 14px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: $text-color;
  border: 2px solid $stroke-color;
  background-color: transparent;

  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  &:hover {
    color: #ffffff;
    background-color: $stroke-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: $stroke-color;
  }
}

.button--arrow {
  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

.button--primary {
  color: #ffffff;
  border: 0;
  background-color: $theme-color;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: $tablet-font-size;
  }
}
