.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 80px;

  box-shadow: inset 0 1px 0 0 #e5e5e5;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
}

.copyright__link {
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;

  font-size: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: space-between;

    box-shadow: none;
  }

  .copyright__text {
    margin-left: 15px;
  }
}
