.features {
  @include inner-wrapper;
  padding-top: 27px;
  position: relative;
  margin-bottom: 55px;
}

.features__title {
  font-size: $title-font-size;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 26px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 20px;
  padding-top: 60px;
  padding-right: 10px;
  margin-bottom: 23px;
}

.features__item--flower {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 8px 5px;
  padding-right: 65px;
}

.features__item--banknote {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 7px;
  padding-right: 40px;
}

.features__item--heart {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 8px 12px;
  padding-right: 55px;
}

.features__item--woolball {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 3px 9px;
}

.features__item--rocket {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: 0 10px;
}

.features__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 3px 8px;
}

.features__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features {
    width: $tablet-content-width;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    font-size: $tablet-title-font-size;
    line-height: $tablet-title-line-height;
  }

  .features__item {
    width: 50%;
    padding-right: 40px;
    order: 6; // новые пункты будут добавляться в конец списка
    font-size: 20px;
    line-height: 22px;
  }

  .features__item--flower {
    order: 0;
  }

  .features__item--woolball {
    order: 1;
  }

  .features__item--banknote {
    order: 2;
  }

  .features__item--rocket {
    order: 3;
  }

  .features__item--heart {
    order: 4;
  }

  .features__item--gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: $desktop-content-width;
    margin: 0 auto;
    margin-bottom: 85px;
    padding-left: 175px;
  }

  .features__title {
    font-size: $desktop-title-font-size;
    line-height: $desktop-title-line-height;
  }

  .features__item {
    width: 350px;
    padding-right: 55px;
  }
}
