.features {
  position: relative;

  margin-bottom: 55px;
  padding-top: 27px;

  @include inner-wrapper;
}

.features__title {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: $title-font-size;
  font-weight: bold;
  line-height: 30px;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 60px;
  padding-right: 10px;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 20px;
}

.features__icon {
  position: absolute;

  fill: $theme-color;
}

.features__item--flower {
  padding-right: 65px;
}

.features__icon--flower {
  top: 5px;
  left: 8px;

  width: 32px;
  height: 37px;
}

.features__item--banknote {
  padding-right: 40px;
}

.features__icon--banknote {
  top: 7px;
  left: 0;

  width: 47px;
  height: 28px;
}

.features__item--heart {
  padding-right: 55px;
}

.features__icon--heart {
  top: 12px;
  left: 8px;

  width: 33px;
  height: 28px;
}

.features__icon--woolball {
  top: 9px;
  left: 3px;

  width: 35px;
  height: 35px;
}

.features__icon--rocket {
  top: 10px;
  left: -5px;

  width: 54px;
  height: 23px;
}

.features__icon--gift {
  top: 8px;
  left: 3px;

  width: 33px;
  height: 33px;
}

.features__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features {
    width: $tablet-content-width;
    margin: 0 auto;
    margin-bottom: 34px;
    padding: 0;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    margin-bottom: 45px;

    font-size: $tablet-title-font-size;
    line-height: $tablet-title-line-height;
  }

  .features__item {
    order: 6; // новые пункты будут добавляться в конец списка

    width: 50%;
    margin-bottom: 50px;
    padding-right: 40px;

    font-size: 20px;
    line-height: 22px;
  }

  .features__item--flower {
    order: 0;

    padding-right: 105px;
  }

  .features__item--woolball {
    order: 1;
  }

  .features__item--banknote {
    order: 2;

    padding-right: 100px;
  }

  .features__item--rocket {
    order: 3;
  }

  .features__item--heart {
    order: 4;

    padding-right: 100px;
  }

  .features__item--gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: $desktop-content-width;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 175px;
  }

  .features__title {
    font-size: $desktop-title-font-size;
    line-height: $desktop-title-line-height;
  }

  .features__item {
    width: 350px;
    padding-right: 55px;
  }

  .features__item--flower {
    padding-right: 120px;
  }

  .features__item--banknote,
  .features__item--heart {
    padding-right: 110px;
  }
}
