.map {
  position: relative;

  height: 457px;
}

.map__fallback {
  position: absolute;
  z-index: 1;

  width: 100%;
  margin: 0 auto;
}

.map__interactive {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;
}

.map__image {
  margin: 0 auto;
}
