@mixin inner-wrapper {
  padding: {
    right: 30px;
    left: 30px;
  }
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

@mixin wavy-line($offset: 8px, $height: 6px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: $height;

    content: "";

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: $offset bottom;
    background-size: auto $height;
  }
}

@mixin wave ($offset-x: 0, $height: 11px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: $height;

    content: "";

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: $offset-x top;
    background-size: auto (2 * $height);
  }
}
