@mixin inner-wrapper {
  padding: {
    right: 30px;
    left: 30px;
  }
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

@mixin wavy-line($offset: 8px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 23px;

    content: "";

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: $offset bottom;
    background-size: contain;
  }
}

@mixin wave ($offset-x: 0, $offset-y: 23px, $bg-size: contain) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 34px;

    content: "";

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: $offset-x $offset-y;
    background-size: $bg-size;
  }
}
