.modal {
  display: none;
}

.modal--show {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.modal__window {
  padding-top: 33px;
  padding-bottom: 46px;

  border: 1px solid #c7c7c7;
  background-color: #ffffff;

  @include inner-wrapper;

  @media (max-width: $tablet-width - 1) {
    border-right: 0;
    border-left: 0;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 55px;
  padding-left: 55px;

  text-align: center;
  text-transform: uppercase;

  font-size: $title-font-size;
  font-weight: bold;
  line-height: 30px;
}

.modal__fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.modal__legend {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  text-align: center;

  color: $text-color;

  font-size: 15px;
  line-height: 30px;
}

.modal__radio-indicators {
  display: flex;
  justify-content: space-between;

  margin-bottom: 31px;
}

.modal__radio {
  @include visually-hidden;
}

.modal__label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 82px;
  height: 52px;

  cursor: pointer;

  color: $text-color;
  border: 2px solid #ececec;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 16px;

  &:hover {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $theme-stroke-color;
  }
}

.modal__radio:checked + .modal__label {
  border-color: $theme-color;
}

@media (min-width: $tablet-width) {
  .modal__window {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 566px;
    height: 336px;
    margin: 20px auto;
  }

  .modal__title {
    font-size: $tablet-subtitle-font-size;
    line-height: $tablet-subtitle-line-height;
  }

  .modal__legend {
    font-size: $tablet-font-size;
  }

  .modal__label {
    width: 112px;
  }

  .modal__button {
    width: 350px;
  }
}
