.order {
  padding-bottom: 55px;

  @include inner-wrapper;
}

.order__intro {
  font-size: 13px;
  line-height: 24px;

  margin-bottom: 30px;

  color: $text-color;
}

.order__fieldset {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  border: 0;
}

.order__fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.order__legend {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 16px;

  margin-bottom: 23px;

  text-transform: uppercase;

  color: $theme-color;
}

.order__input-group {
  display: flex;
  flex-direction: column;
}

.order__radio,
.order__checkbox {
  @include visually-hidden;
}

.order__choice-label {
  position: relative;
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 18px;
  padding-top: 11px;
  padding-left: 62px;
  min-height: 40px;
  margin-bottom: 22px;
}

.order__choice-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid $stroke-color;
}

.order__radio + .order__choice-label::before {
  border-radius: 50%;
}

.order__text-label {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 18px;

  margin-bottom: 15px;
}

.order__text-input {
  font-size: $subtitle-font-size;
  line-height: 18px;

  width: 100%;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;

  color: $text-color;
  border: 0;
  border-bottom: 2px solid $text-color;
  outline: none;

  &:focus {
    border-bottom-color: $theme-stroke-color;
  }

  &::placeholder {
    color: transparentize($text-color, 0.7);
  }
}

.order__textarea {
  font-size: $subtitle-font-size;
  line-height: 18px;

  width: 100%;
  min-height: 142px;
  padding: 15px;

  resize: none;

  color: $text-color;
  border: 2px solid $stroke-color;
  outline: none;

  &:focus {
    border-color: $theme-stroke-color;
  }

  &::placeholder {
    color: transparentize($text-color, 0.7);
  }
}

.order__input-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.order__footnote {
  font-size: 14px;
  line-height: 16px;

  color: $text-color;
}

@media (min-width: $tablet-width) {
  .order {
    padding: 0;
  }

  .order__intro {
    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
    width: $tablet-content-width;
    margin-left: auto;
    margin-right: auto;
  }

  .order__fieldset {
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .order__fieldset--dark {
    background-color: #f1f1f1;
  }

  .order__fieldset-wrapper {
    flex-direction: row;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .order__legend {
    min-width: 167px;
    padding-top: 20px;
  }

  .order__input-group--wrapped-line {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order__choice-label {
    min-height: 54px;
    margin-bottom: 24px;
    padding-top: 18px;
    padding-left: 81px;
    font-size: 19px;
    line-height: 18px;
  }

  .order__choice-label::before {
    width: 54px;
    height: 54px;
  }

  .order__choice-label--color {
    width: 239px;
  }

  .order__input-list-item {
    display: flex;
    align-items: baseline;

    .order__text-label {
      margin-right: 25px;
    }

    .order__text-input {
      padding-left: 18px;
    }
  }

  .order__text-input--phone,
  .order__text-input--email {
    background-color: #f1f1f1;
  }

  .order__fieldset--grouped {
    margin-bottom: 0;
  }

  .order__inner-wrapper {
    width: $tablet-content-width;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .order__submit {
    max-width: 230px;
  }
}
