.order {
  padding-bottom: 55px;

  @include inner-wrapper;
}

.order__intro {
  margin-bottom: 24px;

  color: $text-color;

  font-size: 13px;
  line-height: 24px;
}

.order__fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: 0;
}

.order__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.order__legend {
  order: -1;

  margin-right: 25px;
  margin-bottom: 23px;
  padding: 0;

  text-transform: uppercase;

  color: $theme-color;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 16px;
}

.order__legend--fullname {
  margin-bottom: 28px;
}

.order__fieldset-wrapper::before {
  flex-grow: 1;

  width: 100px;
  height: 22px;

  content: "";

  border-bottom: 1px solid $theme-stroke-color;
}

.order__input-group {
  display: flex;
  flex-direction: column;
}

.order__radio,
.order__checkbox {
  @include visually-hidden;
}

.order__choice-label {
  position: relative;

  min-height: 40px;
  margin-bottom: 13px;
  padding-top: 11px;
  padding-left: 62px;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 18px;

  &:hover::before {
    border-color: $theme-stroke-color;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

.order__choice-label--color {
  margin-bottom: 21px;
  padding-top: 13px;
}

.order__choice-label::before {
  position: absolute;
  top: 2px;
  left: 0;

  width: 40px;
  height: 40px;

  content: "";

  border: 2px solid $stroke-color;
}

.order__choice-label--color::before {
  height: 39px;
}

.order__checkbox:checked + .order__choice-label--color::after {
  position: absolute;
  top: 15px;
  left: 9px;

  width: 21px;
  height: 10px;

  content: "";
  transform: rotate(-45deg);

  border: 3px solid #000000;
  border-top: 0;
  border-right: 0;
}

.order__radio + .order__choice-label::before {
  border-radius: 50%;
}

.order__radio:focus + .order__choice-label::before {
  border-color: $theme-stroke-color;
}

.order__checkbox:focus + .order__choice-label::before {
  border-color: $theme-stroke-color;
}

.order__radio:checked + .order__choice-label::before {
  background-image: radial-gradient(circle at center, $theme-stroke-color 7px, transparent 8px, transparent 100%);
}

.order__choice-label:last-of-type {
  margin-bottom: 13px;
}

.order__text-label {
  margin-bottom: 15px;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 18px;
}

.order__text-input {
  width: 100%;
  margin-bottom: 22px;
  padding: 15px 0;

  color: $text-color;
  border: 0;
  border-bottom: 2px solid $text-color;
  outline: none;

  font-size: $subtitle-font-size;
  line-height: 18px;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $theme-stroke-color;
  }

  &::placeholder {
    color: transparentize($text-color, 0.7);
  }
}

.order__input-list-item:last-child > .order__text-input {
  margin-bottom: 13px;
}

.order__hidden-label {
  position: relative;

  width: 100%;

  .order__text-input {
    margin-bottom: 13px;
    padding-top: 0;
    padding-bottom: 14px;
  }
}

.order__icon {
  position: absolute;

  width: 40px;
  height: 40px;

  opacity: 0.2;
}

.order__text-input:hover + .order__icon,
.order__text-input:focus + .order__icon,
.order__text-input:active + .order__icon {
  opacity: 1;

  fill: $theme-stroke-color;
}

.order__icon--phone {
  top: -14px;
  right: 1px;

  width: 25px;
  height: 25px;
}

.order__icon--email {
  top: -10px;
  right: 0;

  width: 32px;
  height: 32px;
}

.order__textarea {
  width: 100%;
  min-height: 142px;
  padding: 15px;

  resize: none;

  color: $text-color;
  border: 2px solid $stroke-color;
  outline: none;

  font-family: $font-family;
  font-size: $subtitle-font-size;
  line-height: 18px;

  &:hover,
  &:focus,
  &:active {
    border-color: $theme-stroke-color;
  }

  &::placeholder {
    color: transparentize($text-color, 0.7);
  }
}

.order__input-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order__footnote {
  margin-bottom: 28px;

  color: $text-color;

  font-size: 14px;
  line-height: 16px;
}

.order__submit {
  font-size: $subtitle-font-size;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order {
    padding: 0;
  }

  .order__text-input,
  .order__textarea {
    font-size: 19px;
  }

  .order__intro {
    width: $tablet-content-width;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;

    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }

  .order__fieldset {
    margin-bottom: 0;
    padding-top: 48px;
    padding-bottom: 27px;
  }

  .order__fieldset--dark {
    background-color: #f1f1f1;
  }

  .order__fieldset-wrapper {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;

    width: $tablet-content-width;
    margin: 0 auto;

    &::before {
      content: none;
    }
  }

  .order__legend {
    min-width: 167px;
    margin-right: 0;
    padding-top: 20px;
  }

  .order__input-group--wrapped-line {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order__radio:checked + .order__choice-label::before {
    background-image: radial-gradient(circle at center, $theme-stroke-color 9px, transparent 10px, transparent 100%);
  }

  .order__checkbox:checked + .order__choice-label--color::after {
    top: 17px;
    left: 13px;

    width: 30px;
    height: 15px;
  }

  .order__choice-label {
    min-height: 54px;
    margin-bottom: 22px;
    padding-top: 18px;
    padding-left: 81px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__choice-label:last-of-type {
    margin-bottom: 22px;
  }

  .order__choice-label::before {
    width: 54px;
    height: 52px;
  }

  .order__radio + .order__choice-label::before {
    width: 52px;
  }

  .order__choice-label--color {
    width: 239px;
  }

  .order__input-list-item {
    display: flex;
    align-items: baseline;

    .order__text-label {
      margin-right: 32px;
    }
  }

  .order__input-list-item:last-child > .order__text-input {
    margin-bottom: 22px;
  }

  .order__text-input {
    padding-left: 18px;
  }

  .order__text-input--phone,
  .order__text-input--email {
    background-color: #f1f1f1;
  }

  .order__fieldset--grouped {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .order__fieldset--grouped + .order__fieldset--grouped {
    padding-top: 9px;
    padding-bottom: 38px;
  }

  .order__icon--phone {
    top: -11px;
    right: 19px;
  }

  .order__icon--email {
    top: -7px;
    right: 18px;
  }

  .order__inner-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

    width: $tablet-content-width;
    margin: 25px auto;
    margin-bottom: 50px;
  }

  .order__submit {
    max-width: 230px;
  }

  .order__footnote {
    margin: 0;

    font-size: $tablet-font-size;
    line-height: $tablet-line-height;
  }
}

@media (min-width: $desktop-width) {
  .order__intro {
    width: $desktop-content-width;
    padding: 0 175px;
  }

  .order__fieldset-wrapper {
    width: $desktop-content-width;
    padding-right: 175px;
  }

  .order__fieldset-wrapper--desktop-wide {
    padding-right: 0;
  }

  .order__legend {
    min-width: 175px;
    margin-top: 0;
    padding-left: 62px;
  }

  .order__text-input {
    padding-top: 17px;
    padding-bottom: 15px;
  }

  .order__input-group--wrapped-line {
    justify-content: flex-start;
  }

  .order__choice-label--color {
    width: 262px;
  }

  .order__inner-wrapper {
    width: $desktop-content-width;
    margin-top: 20px;
    padding: 0 175px;
  }

  .order__icon--phone {
    top: -6px;
    right: 7px;
  }

  .order__icon--email {
    right: 4px;
  }
}
