.page-footer {
  background-color: #f1f1f1;

  @include inner-wrapper;
}

.page-footer__social {
  height: 80px;
  margin: 0;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  height: 80px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: $tablet-content-width;
    height: 143px;
    min-height: 143px;
    margin: 0 auto;
    padding: 0;
  }

  .page-footer__logo,
  .page-footer__copyright {
    width: 200px;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-content-width;
  }
}
