.product-groups__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-groups__link {
  position: relative;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  display: block;
  min-height: 103px;
  padding-left: 30px;
  padding-right: 160px;
  padding-top: 27px;
  padding-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.product-groups__link--light {
  background-color: $theme-color;

  &::before {
    background-image: url("../img/icon-interior.svg");
  }
}

.product-groups__link--dark {
  background-color: $theme-dark-color;

  &::before {
    background-image: url("../img/icon-toy.svg");
  }
}

@media (min-width: $tablet-width) {
  .product-groups {
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .product-groups__list {
    display: flex;
  }

  .product-groups__item {
    width: 50%;
  }

  .product-groups__link {
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-groups {
    width: $desktop-content-width;
    margin-bottom: 70px;
  }

  .product-groups__link {
    padding-right: 310px;
  }
}
