.production-process {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.production-process__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 90px;

  color: #000000;
  border: 1px solid #ededed;
  border-bottom: 0;

  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 24px;
}

.production-process__icon-video {
  position: absolute;
  top: 30px;
  left: 33px;

  width: 32px;
  height: 32px;

  fill: $theme-color;
}

.production-process__video-wrapper {
  position: relative;

  height: 150px;
}

.production-process__play-button {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 101px;
  height: 77px;
  margin: auto;

  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-size: cover;

  &:hover {
    width: 101px * 1.2;
    height: 77px * 1.2;

    cursor: pointer;
  }

  &:active {
    width: 101px * 0.8;
    height: 77px * 0.8;

    opacity: 0.3;
  }
}

.production-process__video-fallback {
  z-index: 1;

  height: 150px;
  margin: 0;
  padding: 0;
}

.production-process__video {
  position: relative;
  z-index: 2;
  top: -150px;

  max-width: 100%;
  height: 150px;
}

.production-process__footer {
  padding-top: 27px;
  padding-right: 33px;
  padding-left: 33px;

  border: 1px solid #ededed;
  border-top: 0;
}

.production-process__description {
  margin-top: 0;
  margin-bottom: 25px;

  color: $text-color;

  font-size: 13px;
  line-height: 24px;
}

.production-process__make-order {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production-process {
    display: flex;
    flex-direction: column;

    width: $tablet-content-width;
    margin-right: auto;
    margin-bottom: 63px;
    margin-left: auto;
  }

  .production-process__title {
    margin-top: 0;
    padding-top: 37px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;
  }

  .production-process__icon-video {
    top: 32px;
    left: 41px;
  }

  .production-process__video-wrapper {
    order: -1;

    height: 455px;
  }

  .production-process__video-fallback {
    height: 455px;
  }

  .production-process__photo {
    height: 455px;
  }

  .production-process__video {
    position: absolute;
    top: -455px;

    height: 455px;
  }

  .production-process__description {
    margin-bottom: auto;

    font-size: $regular-font-size;
    line-height: $tablet-line-height;
  }

  .production-process__make-order {
    margin-bottom: 45px;
  }

  .production-process__footer {
    display: flex;
    flex-direction: column;

    min-height: 202px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .production-process__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-end;

    width: $desktop-content-width;
    height: 455px;
    margin: 0 auto;
    margin-bottom: 104px;
  }

  .production-process {
    width: 368px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 59px;

    border: 1px solid #ededed;
    border-left: 0;
  }

  .production-process__wrapper:hover {
    .production-process {
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .production-process__wrapper:active {
    .production-process {
      box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .production-process__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
  }

  .production-process__video {
    top: 0;
  }

  .production-process__title {
    margin-bottom: 33px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .production-process__icon-video {
    top: -4px;
    left: 80px;
  }

  .production-process__title,
  .production-process__footer {
    padding-right: 56px;
    padding-left: 80px;

    border: 0;
  }

  .production-process__footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    padding-top: 0;
  }

  .production-process__make-order {
    margin-bottom: 0;
  }
}
