.promo {
  @include inner-wrapper;
}

.promo__header {
  margin-top: 33px;
  margin-bottom: 30px;
}

.promo__title {
  font-weight: bold;
  font-size: $title-font-size;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo__promo-category {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 20px;
  color: #66cccc;
  text-transform: uppercase;
  margin-top: 0;
}

.promo__description {
  color: $text-color;
}

.promo__specs {
  color: $text-color;
  margin-bottom: 28px;
}

.promo__picture {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.promo__price {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
