.slider__item {
  width: 100%;
}

.slider__toggles {
  display: flex;
}

.slider__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 130px;
  padding: 0;
  padding-right: 40px;

  border: 1px solid #ececec;

  font-size: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width - 1) {
  .slider__toggle {
    height: 52px;
  }
}

.slider__toggle::before {
  width: 20px;
  height: 20px;

  content: "";
  transform: translateX(22px) rotate(45deg);

  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
}

.slider__toggle::after {
  width: 50px;

  content: "";

  border-bottom: 4px solid #000000;
}

.slider__toggle--next::before {
  transform: translate(48px) rotate(225deg);
}

@media (min-width: $tablet-width) {
  .slider__list {
    display: flex;
  }

  .slider__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .slider__toggle {
    width: 88px;
    padding-right: 19px;

    border: 0;
  }
}
