.social {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.social__item {
  margin-right: 30px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__item:last-child {
  margin-right: 0;
}
