.social {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}
