.social {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 80px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 30px;
}

.social__link {
  display: block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

.social__link:hover .social__icon {
  fill: $theme-stroke-color;
}

.social__link:active .social__icon {
  opacity: 0.3;

  fill: $theme-stroke-color;
}

.social__icon {
  width: 30px;
  height: 30px;
}

.social__item:last-child {
  margin-right: 0;
}
