.spec-table {
  width: 100%;

  border-collapse: collapse;

  font-size: 15px;
  line-height: 24px;
}

.spec-table__item {
  box-shadow: inset 0 -1px 0 0 #ececec;

  td {
    padding-top: 9px;
    padding-bottom: 8px;
  }
}

.spec-table__value {
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .spec-table__value {
    padding-left: 0;
  }
}
