.top-menu {
  position: relative;
}

.top-menu__toggle {
  position: absolute;
  right: 0;
}

.top-menu__list {
  margin: 0;
  padding: 0;
}

.top-menu__item {
  position: relative;
  min-height: 79px;
  border-bottom: 1px solid #ececec;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 28px;
  list-style: none;
  margin: 0;
}

.top-menu__item--search::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 79px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.top-menu__item--cart::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 79px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.top-menu__link {
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .top-menu__list {
    display: flex;
    flex-wrap: wrap;

    &::before {
      content: "";
      order: 1;
      width: 100%;
      height: 1px;
    }
  }

  .top-menu__toggle {
    display: none;
  }

  .top-menu__item {
    order: 2;
    border: 0;
    padding-left: 0;
    min-height: 88px;
    margin-right: 35px;
    padding-top: 20px;
    padding-bottom: 32px;

    .top-menu__link {
      font-size: $regular-font-size;
    }
  }

  .top-menu__item--logo {
    margin-right: auto;
    padding-top: 26px;
    padding-bottom: 27px;
    order: 0;
  }

  .top-menu__item--search {
    order: 0;
    padding-left: 83px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-right: 0;

    .top-menu__link {
      font-size: 0;
    }
  }

  .top-menu__item--search::before {
    width: 83px;
    height: 88px;
    background-position: center 37px;
  }

  .top-menu__item--cart {
    order: 0;
    padding-top: 32px;
    padding-left: 83px;
    margin-right: 0;

    .top-menu__link {
      font-size: $subtitle-font-size;
    }
  }

  .top-menu__item--cart::before {
    width: 83px;
    height: 88px;
  }
}
