$font-family: "Open Sans", "Arial", sans-serif;
$font-color: #000000;
$background-color: #ffffff;

$title-font-size: 25px;
$title-line-height: 30px;
$tablet-title-font-size: 43px;
$tablet-title-line-height: 50px;
$desktop-title-font-size: 53px;
$desktop-title-line-height: 57px;

$subtitle-font-size: 17px;
$tablet-subtitle-font-size: 30px;
$tablet-subtitle-line-height: 57px;

$regular-font-size: 15px;
$regular-line-height: 24px;
$tablet-font-size: 17px;
$tablet-line-height: 30px;

$text-color: #444444;
$stroke-color: #444444;
$theme-color: #63d1bb;
$theme-dark-color: #56c3b2;
$theme-stroke-color: #62d1ba;
$theme-hover-color: #46c1ae;

$mobile-width: 320px;
$mobile-horiz-padding: 30px;
$mobile-content-width: $mobile-width - 2 * $mobile-horiz-padding;
$tablet-width: 768px;
$tablet-horiz-padding: 50px;
$tablet-content-width: $tablet-width - 2 * $tablet-horiz-padding;
$desktop-width: 1150px;
$desktop-horiz-padding: 50px;
$desktop-content-width: $desktop-width - 2 * $desktop-horiz-padding;
